@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@100;200;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;

}
body{
    /* width: 100vw;
    height: 100vh; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 2rem;
    background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}

main{
    /* width: 30vw;
    height: 40vw; */
    text-align: center;
    background-color: aliceblue;
    box-shadow: grey 0 3px 8px;
}
img{
    width: 90%;
    max-height: 22rem;
    height: auto;
    margin: 1rem 0 1rem 0;
}

h2{
    font-size: 1.7rem;
    margin: 1.5rem;
}

h3{
    font-size: 1.8rem;
}

p{
    font-size: 1.5rem;
}

.button-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 2rem;
}

button{
    min-width: 19rem;
    background-image: linear-gradient(92.88deg, #455eb5 9.16%, #5643cc 43.89%, #673fd7 64.72%);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    padding: 1.4rem 1rem;
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
    text-shadow: rgba(0,0,0,0.25) 0 3px 8px;
    transition: all 0.5s;
    user-select: none;
    -webkit-user-select: none;
    text-transform: capitalize;
 

}

button:hover{
    box-shadow: grey 0 3px 8px;
    transition-duration: 0.5s;
}

.eventSection{
    margin-top: 10px;
    margin-bottom: 20px;
}

#gameArea{
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    padding: 0 10px;
}

#inputBox{
    width: 20rem;
    border: none;
    background: white;
    padding: 10px;
    margin: 30px;
    outline: none;
    border-radius: 5px;
}

.stats .info{
    margin: 40px 5px;
}

.info span{
    font-size: 1.9rem;
    color: rgb(101, 121, 236);
    padding: 20px;
}





@media (max-width:450px){

    html {
        font-size: 50%;
    }
}



