*
{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    min-height:100vh;
    background:#000;
    overflow:hidden;
}
span{
    background: url(heart.png);
    position:absolute;
    pointer-events: none;
    transform: translate(-50%,-50%);
    width:100px;
    height:100px;
    background-size:cover;
   /* filter:drop-shadow(0 0 15px rgba(237, 223, 223, 0.5));*/
    animation: animate 2s linear infinite;
}
@keyframes animate
{
    0%
    {
        transform:translate(-50%,-50%);
        opacity:1;
        filter:hue-rotate(0deg);
    }
    100%{
        transform:translate(-50%,-1000%);
        opacity:0;
        filter:hue-rotate(720deg);
    }
}