@import "../../../stylesheets/settings";
@import "../../../stylesheets/default";

body {
  background: #fff;
  font-size: 2em;
  line-height: 1.5;
  min-height: 20em;
  background-image: linear-gradient(180deg, rgba(255,255,255,1) 10%, rgba(255,255,255,0.6) 50%, rgba(255,255,255,0.6) 60%, rgba(255,255,255,1) 100%),
                    linear-gradient(157deg, #FFD17C 20%, #E77FE9 96%);
  background-size: 100% 100%;
  overflow-x: hidden;
}

p, li {
  font-size: 2rem;
  line-height: 1.5;
}