body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #34495e;
  }
  .box {
    width: 300px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #191919;
    text-align: center;
  }
  .box input[type="text"],
  .box input[type="password"] {
    border: 2px solid #3498db;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
  }
  
  .box input[type="text"]:hover,
  .box input[type="password"]:hover {
    border-color: #f13535;
  }
  .box input[type="text"]:focus,
  .box input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
  }
  .box h1 {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  .box a[type="submit"] {
    border: 2px solid #2ec712;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    text-decoration: none;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: white;
    border-radius: 20px;
    transition: 0.25s;
    cursor: pointer;
  }
  .box a[type="submit"]:hover {
    background-color: #2ec712;
  }