*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #000000;
}

.sun {
  width: 200px;
  height: 200px;
  background-color: #ffd500;
  border-radius: 50%;
  box-shadow: 0 0 0 20px #ff800080, 0 0 0 40px #ec7f0440, 0 0 0 60px #f3620120,
    0 0 0 80px #ffde0010, 0 0 0 100px #ffde0000, 0 0 40px 100px #ffde0010;
  animation: sunrise 2s infinite linear forwards, rays 2s 2s infinite linear;
}

@keyframes sunrise {
  0% {
    box-shadow: none;
  }
}

@keyframes rays {
  0% {
    box-shadow: 0 0 0 0px #b1571280, 0 0 0 20px #ff800080, 0 0 0 40px #ff910040,
      0 0 0 60px #ff840020, 0 0 0 80px #ff8c0010, 0 0 40px 100px #ff6a0010;
  }
  100% {
    box-shadow: 0 0 0 20px #ff770080, 0 0 0 40px #ff770040, 0 0 0 60px #ffa20020,
      0 0 0 80px #ff7b0010, 0 0 0 100px #ff7b0000, 0 0 40px 100px #ff7b0010;
  }
}