table {
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
}

input[type="button"] {
    width: 100%;
    padding: 20px 40px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}


#calcu{

    width: 400px;
    height: 500px;
    background-color: rgb(0, 0, 0);
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;

}
.body{
    background-color: rgb(0, 0, 0);

}

input[type="text"] {
    padding: 20px 30px;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    border: 2px solid black;
}
