.array-container{
    margin-top: 50px;
    position: relative;
    justify-content: center;
}

.array-bar{
    width: 8px;
    background-color: turquoise;
    margin: 0 4px;
    display: inline-block;
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}


.select-dropdown,
.select-dropdown * {
    width: 300px;
    margin-inline: 10px;
    font-size: 1.2rem;
	position: relative;
    padding-bottom: 8px;
	box-sizing: border-box;
}
.select-dropdown {
	position: relative;
	background-color: #E6E6E6;
	border-radius: 4px;
}
.select-dropdown select {
	font-size: 1rem;
	font-weight: normal;
	max-width: 100%;
	padding: 8px 24px 8px 10px;
	border: none;
	background-color: transparent;
		-webkit-appearance: none;
		-moz-appearance: none;
	appearance: none;
}
.select-dropdown select:active, .select-dropdown select:focus {
	outline: none;
	box-shadow: none;
}
.select-dropdown:after {
	content: "";
	position: absolute;
	top: 50%;
	right: 8px;
	width: 0;
	height: 0;
	margin-top: -2px;
	border-top: 5px solid #aaa;
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
}



.play-button{
    margin: 10px;
    width: 100px;
    font-size: 1rem;
    padding: 9px;
    border-radius: 5px;
    background-color: #E6E6E6;
    border: none;
    cursor: pointer;
    outline: none;
}
