 :root{
    --primary-color:#e50914;
}
h1,h2,h3,h4{
    color: white;
}
body{
    width: 100*100;
}
/* for section1 that is upper part of page  */
*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}
img{
    width: 12%;
    }
#logoimg{
    opacity: 2.8;
}
section.box1{
    background-image: url('/back2.jpg');
    width: 100vw;
    height: 96.5vh;
    /* opacity: 0.8; */
    border-bottom:10px solid rgb(65, 62, 62);
}
.showcase{
    width: 100%;
    height: 98vh;
}
.showcase::after{
    content: '';
    position:absolute;
    top: 0;
    left: 0;
    right: 30%;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
    box-shadow:  inset 80px 50px 100px #000000 ,inset -80px -50px 100px #000000;
}
.showcase-top{
    position: relative;
    z-index: 2;
    height: 90px;
}
.showcase h1,h2,p,a{
    position: relative;
    z-index: 2;
}
#showh2{
    font-family: 'Bitter', serif;
}
.showcase-top img,a{
    /* height: 90px; */
    position: relative;
    margin: 25px 43px;
}
.showcase-top img{
    opacity: 1;
    fill: red;
}
.btn{
    background-color: #e50914;
    line-height: normal;
    padding: 7px 17px;
    font-weight: 400;
    font-size: 1rem;
    float: right;
   color: white;
   text-decoration: none;
   border-radius: 5px;
   font-family: 'Work Sans', sans-serif;
}
section h1,h2,p{
    display: flex;
  justify-content: center;
  align-items: center;
 }
 .btn2{
    margin: 0;
    position: absolute;
    top: 72%;
    left: 64%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
    text-align: center;
    align-items: center;
    padding: 2px 3px;
    font-family: 'Work Sans', sans-serif;
  }
 #b2{
     background-color: red;
     text-decoration: none;
     width: 8%;
     float: right;
     right: 100%;
     height: 3%;
     padding: 25px 32px;
     margin:  37px 20px;
     font-size: 35px;
    color: white;
 }
 #email{
    margin: 0;
    position: absolute;
    top: 72%;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 26px 30px ;
    margin:  37px 20px;
    width: 50%;
    text-align: left;
    z-index: 2;
}
 h1{
    font-family: 'Work Sans', sans-serif;
     font-size: 4rem;
     /* padding: 12px 12px 12px 12px; */
     position: relative;
     margin: 0px ;
     top: 15%;
     align-items: center;
     text-align: center;
 }
h2{
    /* font-family: 'Work Sans', sans-serif; */
    font-size: 2rem;
    display: flex;
    top: 18%;
}
 p{
    color: white;
    font-size: 1.5rem;
    top: 21%;
    text-align: center;
}
.box2{
    height:460px;
    width: 100%;
    margin: 0;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* padding: 20px 20px; */
    border-bottom:10px solid #222;
}
.img2{
    width: 60%;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    margin-top: 20%;
    margin: 30px 43px 65px 210px;
}
.s2 h1{
    font-size: 3.5rem;
  margin: 70px 30px 3px 119px;
  text-align:initial;
}
.s2 p{
    margin: 31px 13px 3px 124px;
    text-align:initial;
}
/* showcase 3 */
.box3{
    height:460px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-bottom:10px solid #222;
    /* padding: 20px 20px; */
}
.img3{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* box-sizing: border-box; */
    align-items: center;
    justify-content: center;
    display: flex;
   width:85%;
   height: auto;
   margin: 0px 20px 20px 109px;
    
}
/* .tv-video2 {
   display: inline-block;
    vertical-align: baseline;
    position: absolute;
    right: 90px;
    bottom: 120px;
    z-index: 3;
  } */
.s3 h1{
   font-size: 3.5rem;
   margin:49px 118px 13px 104px;
   text-align:initial;
}
.s3 p{
    margin: 6px 21px 25px 20px;
    text-align:initial;
}
 /* showcase 4  */
 .box4{
    height:460px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    border-bottom:10px solid #222;
    /* padding: 20px 20px; */
}
.img4{
    width: 60%;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    margin-top: 20%;
    margin: 30px 43px 65px 210px;
}
.s4 h1{
    font-size: 3.5rem;
  margin: 43px -8px 3px 141px;
  text-align:initial;
}
.s4 p{
    margin:19px -30px -111px 144px;
     text-align:initial;
}
/* showacse 5 */
 .box5{
    height:460px;
    width: 100%;
    border: 2px solid black;
    background-color: black;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    border-bottom:10px solid #222;
    /* padding: 20px 20px; */
}
.img5{
    width: 70%;
    box-sizing: border-box;
    padding: 30px 30px 30px 30px;
    margin-top: 20%;
    margin: 30px 43px 65px 210px;
}
.s5 h1{
    font-size: 3.5rem;
  margin:74px -8px -11px -117px;
}
.s5 p{
    margin:14px 143px -117px 45px;
}

/* Asked questions  */
.list{
    background-color: black;
    height: 100%;
    border-bottom:8px solid #222;
    padding: 0px 0px 104px 0px;
}
.list h1 {
    color: white;
    font-size: 3rem;
    padding: 3rem 0 4rem 0;
    background-color: black
 }
 #listh1{
     margin: 0px;
 }
.que{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}

.title{
background: #303030;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    text-decoration: none;
    margin: 20px 423px -13px 421px;
}

.icon::before, .icon::after {
    content: "";
    position: absolute;
    width: 2px;
    height: 34px;
    background: #fff;
    top: -20.5px;
}
.icon::after {
    transform: rotate( 90deg);
    transition: 3.5s linear;
}
.icon {
    width: 20px;
    position: relative;
}
.text {
    background: #303030;
    margin: 3px 0;
    color: white;
    font-size: 1.7rem;
    font-weight: 400;
    height: 0;
    opacity: 0;
    line-height: 35px;
}
/* footer form s */
.fbtn{
   margin: 0;
    position: absolute;
    left:63%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
    text-align: center;
    align-items: center;
    padding: 2px 3px;
    font-family: 'Work Sans', sans-serif;
    
}
#fstart{
    background-color: red;
     text-decoration: none;
     width: 8%;
     float: right;
     right: 100%;
     height: 3%;
     padding: 25px 32px;
     margin:  37px 20px;
     font-size: 35px;
    color: white;
}
#femail{
    margin: 0;
    position: absolute;
    left: 49%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 26px 30px ;
    margin:  37px 20px;
    width: 48%;
    text-align: left;
    z-index: 2;
}

.form p{
    display: flex;
    justify-content: center;
    align-items: center;
 }

/* footer  */
footer{
    background-color: black;
    height: 500px;
    width:100%;
}

@media(max-width:800px) {
    body{
        width: 100vw;
        box-sizing: border-box;
    }
    .showcase{
        height: 70vh;
        flex-wrap: wrap;
    }
    .box1 h1{
       font-size: 3rem;
       line-height: 1;
       top: 20px;
    }
    #showp{
         font-size:1.5rem ;
         line-height: 1;
         top: 52px;
    }
    #email{
        width: 50%;
        margin-top: 80px;
        left: 114px;
    }
    .btn2{
        width: 5%;
        margin-top: 80px;
    }
    #b2{
        font-size: 1rem;
        margin-top: 80px;
    }
    #showh2{
        font-size: 2rem;
        text-align: center;
        /* line-height: 0.9; */
        top: 36px;
    }
    .s2 h1{
        font-size: 2rem;
        line-height: 1;
        margin: 50px 50px 050px 0px;
        /* text-align:start; */
        word-spacing: 0.1rem;
        display: flex;
        text-align: center;
        /* grid-template-columns: 50px; */
    }
    .s2 p{
        font-size: 1.5rem;
        display: flex;
        text-align: start;
        text-align: center;
        margin: 10px 20px 20px 0px;
       
    }
    .s2{
        width: 100vw;
    }
    .box2{
        height: 80vh;
        flex-wrap: wrap;
    }
    .img2{
    width: 70%;
    box-sizing: border-box; 
    margin:20px 30px 50px 50px;
    display: flex;
    }


    .s3 h1{
        font-size: 2rem;
        line-height: 1;
        margin: 10px 30px 30px 0px;
        /* text-align:start; */
        word-spacing: 0.1rem;
        display: flex;
        text-align: center;
        /* grid-template-columns: 50px; */
    }
    .s3 p{
        font-size: 1.5rem;
        display: flex;
        text-align: start;
        text-align: center;
        margin: 10px 20px 20px 20px;
       }
    .s3{
        width: 100vw;
    }
    .box3{
        height: 80vh;
        flex-wrap: wrap;
    }
    .img3{
    width: 70%;
    box-sizing: border-box; 
    margin:20px 0px 0px 50px;
    display: flex;
    }


    .s4 h1{
        font-size: 2rem;
        line-height: 1;
        margin: 50px 50px 050px 0px;
        /* text-align:start; */
        word-spacing: 0.1rem;
        display: flex;
        text-align: center;
        /* grid-template-columns: 50px; */
    }
    .s4 p{
        font-size: 1.5rem;
        display: flex;
        text-align: start;
        margin: 1px 0px 20px 0px;
        text-align: center;
       }
    .s4{
        width: 100vw;
    }
    .box4{
        height: 80vh;
        flex-wrap: wrap;
    }
    .img4{
    width: 70%;
    box-sizing: border-box; 
    margin:20px 30px 50px 50px;
    display: flex;
    }


    .s5 h1{
        font-size: 2rem;
        line-height: 1;
        margin: 0px 27px 18px 0px;
        /* text-align:start; */
        word-spacing: 0.1rem;
        display: flex;
        text-align: center;
        /* grid-template-columns: 50px; */
    }
    .s5 p{
        font-size: 1.5rem;
        display: flex;
        text-align: start;
        margin: 10px 20px 20px  20px;
       text-align: center;
    }
    .s5{
        width: 100vw;
    }
    .box5{
        height: 80vh;
        flex-wrap: wrap;
    }
    .img5{
    width: 70%;
    box-sizing: border-box; 
    margin:0px 0px 0px 50px;
    display: flex;
    }

  #item1{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
       
   }
  #item2{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
   }
  #item3{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
   }
  #item4{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
   }
  #item5{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
   }
  #item6{
       display: flex;
       margin: 0px 0px 10px 600px ;
       flex-direction: row-reverse;
       width: 30vw;
   }
   title {
    -ms-transform: translate(-50%, -50%);
    transform: translate(-0%, -50%);
    text-align: center;
    align-items: center;
   }

   .bottomp{
    font-size:1.5rem ;
    line-height: 1;
    top: 33px;
}
    .fbtn{
        width: 5%;
        margin-top: 80px;
    }
    #femail{
        width: 50%;
        margin-top: 80px;
        left: 114px;
    }
    #fstart{
        font-size: 1rem;
        margin-top: 80px;
    }
}
    
